<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <!-- FIRST COLUMN -->
                    <div class="col-lg-8 d-none d-sm-block">
                        <app-slide></app-slide>
                    </div>
                    <!-- SECOND COLUMN -->
                    <div class="col-lg-4">
                        <div class="card text-center" style="background-color: #c0392b;">
                            <div class="card-body">
                                <h3>Lorem ipsum.</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Confirm Password">
                                    </div>
                                    <input type="submit" value="Send" class="btn btn-outline-light btn-block">
                                </form>
                            </div>
                        </div>
                        <aside class="row dark">
                            <div class="col-md-6">
                                <div class="card mt-4">
                                    <div class="card-body">
                                        <app-todo></app-todo>
                                    </div>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>



<app-bparallax></app-bparallax>