<section class="intro">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center">
        <img class="intro-hero-img" src="assets/img/hero-round.png" alt="">
        <h1 class="hero-title">{{title}}
          <strong>{{name}}</strong>
        </h1>
        <p class="hero-tagline">
          {{Iam}}
          <span class="typelist-skill">
            {{IamA}}</span>
        </p>
        <ul class="row list-inline social social-intro">
          <li>
            <a href="">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fab fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fab fa-github-square"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- END col-sm-6-->

      <!-- END col-sm-6-->

    </div>
    <!-- END row-->
  </div>
</section>